@model IEnumerable<MusicLib.BLL.DTO.SongDTO>

@{
    ViewBag.Title = "Index";
}

<h2>List of Songs</h2>

<p>

    <a asp-action="Create">Add a new Song</a>
    
</p>
<table class="table-condensed" style="width:100%">
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Song</a>
        </th>
        <th>                
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Release</a>
        </th>
        <th>Genre</th>
        <th>Artist</th>
        <th>Youtube</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
            <td>
                <button type="button" class="btn btn-outline-success"
                        onclick="window.location.href='@item.YoutubeLink)'">
                    Play
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video)
        </td>

        <td>
                <a type="button" class="btn btn-outline-primary" asp-action="Watch" asp-controller="Videos" asp-route-id="@item.VideoId">File</a>  

            
                <a type="button" class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Detailes</a>

                @if (Context.Session.GetInt32("Role") == 1)
                {
                    <a> </a>
                    <a type="button" class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a> </a>
                    <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
        </td>
    </tr>
}
</table>